[workspace]
authors = ["Mahesh Binzer-Panchal <mahesh.binzer-panchal@nbis.se>"]
channels = ["conda-forge", "bioconda"]
name = "Nextflow_sandbox"
platforms = ["linux-64", "osx-arm64", "linux-aarch64"]
version = "1.0"

[tasks]
# Run workflow
test = "nextflow run main.nf"
# Cleans all untracked files and directories, including git ignored files.
clean-all = "git restore . && git clean -e .pixi -fdx"
# Cleans up to the last run.
clean-work = "nextflow clean -f -before last && find work -type d -empty -delete"

[dependencies]
nextflow = ">=25.10.0,<26"
gh = ">=2.83.1,<3"
nf-core = ">=3.5.1,<4"
nf-test = ">=0.9.3,<0.10"
tree = ">=2.2.1,<3"

[feature.seqera-cli.pypi-dependencies]
seqera = "*"

[environments]
ai-term = ["seqera-cli"]
